<h1>Fedora QA Devel Phabricator</h1>

<p>The Fedora QA Devel team uses this phabricator instance for tracking issues,
code reviews and some documentation. We can be reached through
<a href="https://admin.fedoraproject.org/mailman/listinfo/qa-devel">our mailing list</a>
or in the <a href="http://webchat.freenode.net/?channels=#fedora-qa"> #fedora-qa channel on Freenode</a>.
</p>

<br>

<h2>Useful Links</h2>

<ul>
    <li><a href="http://docs.qadevel.cloud.fedoraproject.org/libtaskotron/latest/">Libtaskotron Documentation</a></li>
    <li><a href="https://bitbucket.org/fedoraqa">Canonical Git Repos (bitbucket project)<li>
</ul>
