<?php

//'welcome.html' => '<h1>Fedora QA Devel Phabricator</h1><p>The Fedora QA Devel team uses this phabricator instance for tracking issues, code reviews and some documentation. <ul><li>lists</li><li><a href="http://roshi.fedorapeople.org/dexy/">Links to docs</a></li><li>...</li></ul></p>',
return array(
  'mysql.host' => '{{mysql_host}}',
  'mysql.user' => 'root',
  'mysql.pass' => '{{mysql_root_password}}',
  'log.access.path' => '/var/log/phabricator/access.log',
  'log.ssh.path' => '/var/log/phabricator/ssh.log',
  'phd.pid-directory' => '/var/run/phabricator/',
  'phd.log-directory' => '/var/log/phabricator/',
  'phd.user' => '{{ phabricator_daemon_user }}',
  'environment.append-paths' => ['/usr/libexec/git-core/'],
  'diffusion.ssh-user' => '{{ phabricator_vcs_user }}',
  'welcome.html' => '{{ lookup("file", files + "/phabricator-welcome.html") }}',
  'ui.header-color' => '{{ phabricator_header_color }}',
  'metamta.default-address' => 'phab@{{ hostname }}',
  'metamta.domain' => '{{ hostname }}',
  'metamta.reply-handler-domain' => '{{ hostname }}',
  'metamta.mail-adapter' => '{{ 'PhabricatorMailImplementationPHPMailerLiteAdapter' if phabricator_mail_enabled else 'PhabricatorMailImplementationTestAdapter'}}',
  'phabricator.uninstalled-applications' => array(
        'PhabricatorApplicationPhame' => true,
        'PhabricatorApplicationDiviner' => true,
        'PhabricatorApplicationLegalpad' => true,
        'PhabricatorApplicationDrydock' => true,
        'PhabricatorApplicationHarbormaster' => true,
        'PhabricatorApplicationOAuthServer' => true,
        'PhabricatorApplicationPhortune' => true)
);
