<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Taskotron</title>
  <meta name="description" content="Landing page for the Fedora QA Taskotron instance.">
  <meta name="author" content="Fedora QA">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" href="static/favicon.ico">

  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="static/css/foundation.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/app.css">
  <link rel="stylesheet" href="static/css/text.css">
  <!-- end CSS-->

  <script src="static/js/jquery.js"></script>
  <script src="static/js/jquery.foundation.buttons.js"></script>
  <script src="static/js/modernizr.foundation.js"></script>


</head>

<body>

    <div class="fullcontainer">

        <div id="preheader" class="fedora-preheader">

            <div class="row">
                <div class="large-3 columns">
                    <a href="">

                    <div id="logo" class="fedora-header">

                    </div>
                    </a>
                </div>
                <div class="large-1 columns">
                </div>
            </div>
        </div>


<div class="row">
    <div class="large-8 large-centered columns" id="nav-bar">
        <div class="menu-container">
            <span class="menu-bar">
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="https://fedoraproject.org/wiki/Taskotron">Wiki</a></li>
                    <li><a href="https://phab.qadevel.cloud.fedoraproject.org/maniphest">Issue Tracker</a></li>
                    <li><a href="https://docs.qadevel.cloud.fedoraproject.org/libtaskotron/latest/">Documentation</a></li>
        </ul>
            </span>


        </div> <!-- end of menu container -->
    </div> <!-- end of menu column -->
</div> <!-- end of menu row -->



<div class="row">
    <div class="large-12 columns" id="index">
            <h2>Welcome to Taskotron</h2>

        <p>Taskotron is a framework for automated task execution. Below are some quick links to the current staging instance.</p>
        <div class="panel radius" id="main-info">
              <ul>
        <li><a href="/taskmaster/waterfall">Recently Executed Tasks</a></li>
        <li><a href="http://resultsdb-stg.cloud.fedoraproject.org/jobs">Browse Task Results</a></li>
          </ul>
        </div>

        <h3>Overview</h3>

        <p>Taskotron is in the very early stages of development with the objective to replace <a href="http://fedoraproject.org/wiki/AutoQA">AutoQA</a> for automating selected <a href="http://fedoraproject.org/wiki/QA">QA</a> tasks in Fedora. Some of its major envisioned features:</p>
        <div class="panel radius" id="main-info">
                   <ul>
              <li>Support for distribution-wide checks - e.g. Can this set of packages be pushed to stable updates repository? or Is this new system compose installable?</li>
              <li>Support for package-related checks - e.g. Can this new build of firefox package be safely updated? or Do the functional tests pass for this new build of openssh?</li>
              <li>Simple check management - package maintainers in full control of their package-related checks, no hurdles</li>
              <li>Event-based - where applicable only the simplest interaction between services is used - passing messages through a message bus - for both check triggering and result reporting. No hardcoded tie-ins to specific services.</li>
              <li>Decoupled design - comprised of loosely-coupled standalone units (tools, libraries) so that important logical functions are separated and one unit can be replaced with a different unit with similar functionality</li>
              <li>Trivial local execution - no need to replicate the production environment with all its servers and configurations, the check authors can easily run and develop their checks on their local machine with no unnecessary software setup hassle</li>
              <li>Useful for other Linux distributions as well, not just Fedora</li>
            </ul>
       </div>


            <p>Taskotron is under active development. If you're interested in contributing, check outour <a href="">Development guide</a> and the tickets and tasks on our <a href="https://phab.qadevel.cloud.fedoraproject.org/maniphest/query/J_IIsveePHC./">phabricator instance</a> (login required for main page for now but applications are available without login).
            </p>

            <p>If you have any questions there are a few ways you can contact us. 
                <div class="panel radius" id="main-info">
                    <ul>
                        <li>
                            Via email on <a href="https://admin.fedoraproject.org/mailman/listinfo/qa-devel">The Fedora qa-devel list</a>
                        </li>
                        <li>In #fedora-qa on Freenode IRC</li>
                    </ul>
                </div>
            </p>


        </div>

    </div>
</div>

<div class="container">
    <div class="fedora-prefooter">
        <div class="twelve column">
            This application is open source! Get <a href="https://bitbucket.org/fedoraqa/baseweb">the code</a>
            or look at <a href="https://phab.qadevel.cloud.fedoraproject.org/project/view/5/">development plans</a>.
            <div class="fedora-footer"></div>
        </div>
    </div>
</div>

</div> <!-- end of main row -->

</body>
</html>
