# while you can use this as a template, we recommend that you use the blockerbugs
# cli to generate a config file
#RDB_URL = 'http://{{ hostname }}/{{ resultsdb_endpoint }}/api/v1.0'
RDB_URL = 'http://localhost/{{ resultsdb_endpoint }}/api/v1.0'
SECRET_KEY = '{{ resultsdb_fe_secret_key }}'
FILE_LOGGING = False
LOGFILR = '/var/log/resultsdb_frontend/resultsdb_frontend.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
