WSGIDaemonProcess fakefedorainfra user=apache group=apache threads=5
WSGIScriptAlias /fakefedorainfra /usr/share/fake_fedorainfra/fake_fedorainfra.wsgi
WSGISocketPrefix run/wsgi

# this isn't the best way to force SSL but it works for now
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^/fake_fedorainfra/admin/?(.*) https://%{SERVER_NAME}/$1 [R,L]

<Directory /usr/share/fake_fedorainfra>
    WSGIProcessGroup fakefedorainfra
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptReloading On
    <IfModule mod_authz_core.c>
        # Apache 2.4
        Require all granted
    </IfModule>
    <IfModule !mod_auth_core.c>
        Order allow,deny
        Allow from all
    </IfModule>

</Directory>

#Alias /fake_fedorainfra/static /var/www/fake_fedorainfra/fake_fedorainfra/static
#
#<Directory /var/www/fake_fedorainfra/static>
#Order allow,deny
#Allow from all
#</Directory>

