SECRET_KEY = '{{ fakefedorainfra_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{ fakefedorainfra_db_user }}:{{ fakefedorainfra_db_password }}@{{ fakefedorainfra_db_host }}:{{ fakefedorainfra_db_port }}/{{ fakefedorainfra_db_name }}'
FILE_LOGGING = False
LOGFILR = '/var/log/fakefedorainfra/fakefedorainfra.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
