#
# See cgitrc(5) or /usr/share/doc/cgit-*/cgitrc.5.html for details
#

# Enable caching of up to 1000 output entries
cache-size=1000

# Specify some default clone prefixes
#clone-prefix=git://example.com ssh://example.com/pub/git http://example.com/git

# Specify the css url
css=/cgit-data/cgit.css

# Show extra links for each repository on the index page
enable-index-links=1

# Enable ASCII art commit history graph on the log pages
enable-commit-graph=1

# allow http cloning
enable-http-clone=0

# Show number of affected files per commit on the log pages
enable-log-filecount=1

# Show number of added/removed lines per commit on the log pages
enable-log-linecount=1

# Add a cgit favicon
#favicon=/favicon.ico

# Use a custom logo
logo=/cgit-data/cgit.png

# Enable statistics per week, month and quarter
max-stats=quarter

# Set the title and heading of the repository index page
root-title={{ cgit_root_title }}

# Set a subheading for the repository index page
#root-desc=tracking the foobar development

# Include some more info about this site on the index page
#root-readme=/var/www/html/about.html

# Allow download of tar.gz, tar.bz2 and zip-files
snapshots=tar.gz tar.bz2 zip

##
## List of common mimetypes
##

mimetype.gif=image/gif
mimetype.html=text/html
mimetype.jpg=image/jpeg
mimetype.jpeg=image/jpeg
mimetype.pdf=application/pdf
mimetype.png=image/png
mimetype.svg=image/svg+xml

# Enable syntax highlighting (requires the highlight package)
#source-filter=/usr/libexec/cgit/filters/syntax-highlighting.sh

##
## List of repositories.
## PS: Any repositories listed when section is unset will not be
##     displayed under a section heading
## PPS: This list could be kept in a different file (e.g. '/etc/cgitrepos')
##      and included like this:
##        include=/etc/cgitrepos
##

project-list={{ repo_basedir }}/projects.list
scan-path={{ repo_basedir }}

#repo.url=rpmlint
#repo.path=/var/lib/gitolite3/repositories/rpmlint.git
#repo.desc=rpmlint task repository
##repo.owner=fooman@example.com
##repo.readme=info/web/about.html
#
#repo.url=resultstore
#repo.path=/var/lib/gitolite3/repositories/resultstore.git
#repo.desc=resultstore
#
#repo.url=trigger
#repo.path=/var/lib/gitolite3/repositories/trigger.git
#repo.desc=trigger
#
#repo.url=fedora-beaker-tests
#repo.path=/var/lib/gitolite3/repositories/fedora-beaker-tests.git
#repo.desc=temp repo for fedora beaker tests

